input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#orLabel{
  margin: 24px;
  font-size: 18px;
  color: gray;
}
.my-facebook-button-class{
  
  font-size: 18px;
  border: none;
  
  color: white;
  background-color: #5c5cce;

  
  padding: 8px 10px 8px 10px;
  
}
.github-button{
  border-radius: 50%;
}