.box{
    height: 400px;
    width: 70vw;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);;
}
.box-parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message-category-button{
    width: 100%
}
.active {
    border-bottom: 3px solid#65a1f7;
    color: #65a1f7
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.inputPicture{
    height: 10rem;
    margin-top: 12vh;
}