#mainComponent{
    border: 1px solid #cac6c6;
    border-radius: 8px;
    margin-top: 5rem;
}
.otpTextField{
    width: 3.2rem;
    background-color: #e8e8e8;
    height: 3rem;
    border: none;
    border-radius: 7px;
    font-size: 2rem;
    color: #3f51b5;
    text-align: center;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    outline: none;
}
@media only screen and (max-width: 500px) {
    #mainComponent{
        border: 0;
        border-radius: 0;
    }
}
@media only screen and (max-width: 600px) {
    .otpTextField{
        width: 3.4rem;
    }
}
@media only screen and (max-width: 600px) {
    .otpTextField{
        width: 11.7vw;
        margin-right: 4vw;
    }
}
