#messagePackCard1{
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-radius: 14px;
}
#messagePackCard2{
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-radius: 14px;
}
#messagePackCard3{
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-radius: 14px;
}
#promoCodeField{
    width: 70%;
    display: inline-block;
    height: 2.6rem;
    margin-right: 9px;
}
#promoCodeButton{
    width: 27%;
    display: inline-block;
    vertical-align: bottom;
    height: 2.6rem;
    box-shadow: 5px 10px;
    background-color: #3a86fe;
}
.invitePara{
    float: left;
}
